<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django  Blog</a></h1>
        </div>

        <div>
            <p>published: 05.11.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Here is some long text of something for nothing...</p>
        </div>

        <div>
            <p>published: 05.11.2015, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p>There some other text about my second post</p>
        </div>
    </body>
</html>